@page
@model ForgotPasswordConfirmation
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["ForgotPasswordConfirmationTitle"];
    Layout = "/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<div class="login-modal">
    <button type="button" class="close-btn" onclick="window.location='/'">&times;</button>
    <h1 class="login-title">@ViewData["Title"]</h1>
    <p class="text-center mb-4">@Localizer["ForgotPasswordConfirmationMessage"]</p>
</div>

<div class="post-modal-footer">
    @Localizer["ReturnTo"]
    <a asp-page="./Login" class="btn-register">@Localizer["LoginButton"]</a>
</div>
